---
layout: base.hbs
---
<h2>Calendar</h2>
<button onclick="goToToday()">Go to today</button>
<table>
  <tr>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>T</th>
    <th>F</th>
    <th>S</th>
    <th>S</th>
  </tr>
  {{#each calendar}}
  <tr>
    {{#each this}}
    <td>
      <time id="{{isodate date}}" class="date">{{date_label}}</time>
      {{#each text_data}}
      <p class="{{@key}}">
        {{this}}
      </p>
      {{/each}}
    </td>
    {{/each}}
  </tr>
  {{/each}}
</table>
